@font-face {
    font-family: 'Grandstanderclean';
    src: url('../fonts/Grandstanderclean.eot');
    src: url('../fonts/Grandstanderclean.eot') format('embedded-opentype'), url('../fonts/Grandstanderclean.woff2') format('woff2'), url('../fonts/Grandstanderclean.woff') format('woff'), url('../fonts/Grandstanderclean.ttf') format('truetype'), url('../fonts/Grandstanderclean.svg#Grandstanderclean') format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-size: 1rem;
    background-color: #fff;
    font-family: 'Grandstanderclean';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus {
    outline: 0;
}

a:hover,
a:active {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.transition03eio {
    transition: all 0.3s ease-in-out;
}

.transition05eio {
    transition: all 0.5s ease-in-out;
}

nav.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1.15rem;
    z-index: 999999;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #0000001A;
    transition: all 0.4s, padding 0.6s;
    transition-timing-function: ease-in-out;
}

.navbar.navbarOnScroll {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(255, 58, 88, 0.4);
}

.navbar-brand img {
    max-width: 13.75rem;
    transition: all 0.5s linear;
}

.navbarOnScroll .navbar-brand img {
    max-width: 12.5rem;
}

ul.navbar-nav {
    margin: 0 -1.625rem;
    align-items: center;
}

ul.navbar-nav>li {
    padding: 0 1.625rem;
}

ul.navbar-nav>li>a.nav-link {
    padding: 0 !important;
    font-size: 0.875rem;
    color: #333333;
    line-height: 1;
}

ul.navbar-nav>li>a.nav-link:hover,
ul.navbar-nav>li>a.nav-link:active,
ul.navbar-nav>li:last-child a:hover span,
ul.navbar-nav>li:last-child a:active span,
a.inrLink:hover .inrCover span,
a.inrLink:active .inrCover span,
.breadcrumb a:hover,
.breadcrumb a:active {
    color: #FF3A58;
}

ul.navbar-nav>li:last-child>a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 10rem;
    padding: 0 !important;
    border-radius: 1.563rem;
    border: 1px solid #333333;
    box-shadow: 1px 1px 0px #00000029;
}

ul.navbar-nav>li:last-child a:hover,
ul.navbar-nav>li:last-child a:active,
.inrCover:hover,
.inrCover:active {
    border-color: #FF3A58;
    box-shadow: 1px 1px 0px #FF3A5829;
}

.userImage {
    width: 2.75rem;
    height: 2.75rem;
    margin: 2px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-color: #BFFE8A;
}

.userImage i {
    line-height: 3.4rem;
    font-size: 2rem;
    color: #A0E467;
}

.userImage img {
    max-width: 2.75rem;
    height: auto;
    object-fit: cover;
}

ul.navbar-nav>li:last-child a span {
    color: #333333;
    line-height: 1;
    /* margin-top: -5px; */
    padding-left: 0.35rem;
    font-size: 1.125rem;
    font-family: 'Grandstanderclean';
}

.navbar-toggler {
    padding: 0;
    border: 0;
    font-size: unset;
    border-radius: 0;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
}

.navbar-toggler-icon i {
    color: #CBD8DB;
    font-size: 1.25rem;
}

a.inrLink {
    display: none;
    margin-left: auto;
}

.inrCover {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 5.625rem;
    border-radius: 1.563rem;
    border: 0.5px solid #CBD8DB;
    box-shadow: 1px 1px 0px #00000029;
}

.inrCover .userImage {
    width: 1.75rem;
    height: 1.75rem;
}

.inrCover .userImage i {
    line-height: 2.2rem;
    font-size: 1.18rem;
}

.inrCover .userImage img {
    max-width: 1.75rem;
}

.inrCover span {
    color: #333333;
    line-height: 1;
    /* margin-top: -5px; */
    padding-left: 0.2rem;
    font-size: 0.7rem;
    font-family: 'Grandstanderclean';
}

.banner {
    padding: 6rem 0 5.688rem;
    background-color: #FBFCF7;
    font-family: 'Montserrat', sans-serif;
}

.breadcrumb {
    padding: 0;
    margin: 1rem -0.75rem;
    color: #ADBABD;
    font-weight: 500;
    font-size: 0.938rem;
    background-color: transparent;
}

.breadcrumb li {
    position: relative;
    padding: 0 0.75rem;
}

.breadcrumb li+li::before,
.breadcrumb li.active::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 0.7rem;
    position: absolute;
    top: 0.4rem;
    line-height: 1;
}

.breadcrumb li+li::before {
    content: "\f101";
    left: -0.2rem;
}

.breadcrumb li.active::after {
    content: "\f105";
    right: 0;
}

.breadcrumb a {
    color: #ADBABD;
    transition: color 0.3s ease-in-out;
}

.bannerSections {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.bannerLeft h1 {
    font-size: 2.188rem;
    line-height: 1.2;
    margin: 0 0 1rem;
    min-width: 35.625rem;
}

.palaceImage {
    height: 22.938rem;
    position: relative;
    max-width: 42rem;
    border-radius: 0.32rem;
    background: url(../images/banner1.png) center no-repeat;
    background-size: cover;
}

.logoText {
    color: #fff;
    text-align: right;
    font-size: 1.32rem;
    font-weight: 700;
    line-height: 1;
    padding-top: 1rem;
    padding-right: 0.938rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.subTitle {
    margin: 0 0 2rem;
    font-size: unset;
}

.subTitle span {
    font-weight: 500;
    line-height: 1.12;
    font-size: 1.125rem;
}

.subTitle span:first-child {
    margin-right: 1.5rem;
}

.watchBtn {
    border: 0;
    width: 13.125rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 0.313rem;
    position: absolute;
    left: 1.125rem;
    bottom: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 0px #00000029;
}

.watchBtn img {
    max-width: 0.9rem;
    height: auto;
    margin-right: 0.48rem;
}

.watchBtn svg {
    max-width: 1.2rem;
    height: 1rem;
    margin-right: 0.48rem;
}

.watchBtn:hover,
.watchBtn:focus {
    background-color: #333;
}

.watchBtn:hover svg,
.watchBtn:focus svg {
    fill: #fff;
}

.watchBtn span:last-child {
    font-size: 1rem;
    font-family: 'Grandstanderclean';
}

.watchBtn:hover span:last-child,
.watchBtn:focus span:last-child {
    color: #ffffff;
}

.bannerRight {
    min-width: 40%;
}

.recommendBox {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -0.35rem;
    margin-left: auto;
    border-radius: 0.313rem;
    padding: 0.25rem 0.3rem 0.3rem;
    border: 1px solid #333333;
    background-color: #FDFFD3;
    box-shadow: 1px 1px 0px #00000029;
}

.recommendBox strong {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
}

.recommendBox span {
    display: block;
    font-weight: 300;
    line-height: 1.2;
    font-size: 0.625rem;
}


/* Custom-radio Slot Btn */

.slotUl {
    margin: 0.1rem -0.688rem;
    display: flex;
    justify-content: flex-start;
}

.slotUl li {
    padding: 0 0.688rem;
}

.slotUl label {
    display: inline-block;
    font-size: 15px;
    font-weight: 400 !important;
    margin-bottom: 0;
    position: relative;
}

.slotUl input[type="radio"] {
    opacity: 0;
    width: 6.375rem;
    height: 2.188rem;
    position: absolute;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.slotUl input[type=radio]+button {
    width: 6.375rem;
    height: 2.188rem;
    line-height: 2.188rem;
    cursor: pointer;
    color: #515151;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 1.25rem;
    border: 1px solid #707070;
    background-color: #fff;
    margin: 0 0 0.3rem;
}

.slotUl input[type=radio]:checked+button {
    color: #02C972;
    border: 0.6px solid #02C972;
    background-color: #BEFFDA;
}

.slotUl p {
    margin: 0;
    font-weight: 400;
    color: #8AB7C0;
    text-align: center;
    font-size: 0.75rem;
}

.detailCover .title {
    font-weight: 400;
    color: #A9B7B9;
    line-height: 1.28;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    padding-top: 1.88rem;
}

.liveDevices {
    margin-top: 2.35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.liveDevices .description {
    font-weight: 400;
    font-size: 1.5rem;
}

.liveDevices .description b {
    font-weight: 600;
}

.iconCover img {
    width: auto;
    max-height: 1.363rem;
}

.iconCover span {
    padding: 0 0.35rem;
    font-size: 0.625rem;
    font-weight: 400;
}

.btnAnchor,
.bookCTA {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feeBtn {
    border: 0;
    width: 10rem;
    height: 2.813rem;
    line-height: 2.813rem;
    text-align: left;
    border-radius: 5px;
    margin-right: 1.875rem;
    padding: 0 0.688rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 2px 2px 0px #0000001A;
}

span.strikeThrough {
    line-height: 1;
    color: #6997A1;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0 0.25rem;
    position: relative;
}

span.strikeThrough::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0.45rem;
    border-top: 1px solid #6997A1;
}

.feeBtn span:last-child {
    font-weight: 700;
    color: #262525;
    font-size: 1.125rem;
    padding-left: 0.4rem;
    line-height: 1;
}

.btnAnchor a {
    color: #FF3A58;
    font-weight: 600;
    line-height: 1.35;
    font-size: 0.938rem;
    text-decoration: underline;
}

.btnAnchor a:hover,
.btnAnchor a:active {
    opacity: 0.85;
}

.bookCTA {
    margin-top: 1.5rem;
}

.bookCTA button {
    height: 2.813rem;
    font-weight: 400;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF3A58;
    box-shadow: 2px 2px 0px #0000001A;
    font-family: 'Grandstanderclean';
}

.ctaBtn {
    flex: 1;
    color: #fff;
    font-size: 1rem;
    margin-right: 1.875rem;
    background-color: #FF3A58;
}

/*.ctaBtn span {
    line-height: 1.2;
}*/

.ctaBtn:hover,
.ctaBtn:focus {
    color: #FF3A58;
    background-color: #fff;
}

.shareBtn {
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: #FF3A58;
    background: #FFFFFF;
}

.shareBtn:hover,
.shareBtn:focus {
    color: #fff;
    background-color: #FF3A58;
}

.shareBtn i {
    display: none;
}

.goalsBadgesSection {
    padding: 3.75rem 0 4rem;
}

.sectionHeading {
    margin-bottom: 2.32rem;
    font-size: 1.563rem;
    line-height: 1;
    position: relative;
}

.sectionHeading::before {
    content: "";
    width: 2rem;
    height: 0.375rem;
    border-radius: 0.375rem;
    background: #A0E467;
    position: absolute;
    left: 0;
    top: -1.65rem;
}

.goalsBadgesSection .badge {
    width: 5.25rem;
    height: 1.625rem;
    line-height: 1.05rem;
    font-weight: 400;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 28%;
    margin-bottom: 1rem;
    letter-spacing: 0.8px;
    box-shadow: 0px 3px 0px #0000001A;
}

.goalRow {
    padding-top: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skillRow {
    margin-top: 2.813rem;
}

.goalsTab {
    padding: 0.58rem;
    max-width: 13.5rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1.875rem;
    border: 1px solid #CBD8DB;
    box-shadow: 1px 1px 0px #0000001A;
}

.goalsTab .tabText {
    font-size: 1rem;
    line-height: 1.1;
    padding-left: 1.25rem;
}


/* 15% Progress */

.progress {
    width: 2.88rem;
    height: 2.88rem;
    line-height: 2.88rem;
    background: none;
    box-shadow: none;
    border-radius: 50%;
    position: relative;
    border: 0.5px solid #6997A1;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 0.86rem;
    color: #37575E;
    line-height: 2.2rem;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    border: 1.5px solid #6997A1;
}

.progress.green .progress-bar {
    border-color: #6997A1;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

.goalLeft {
    max-width: 22%;
    flex: 0 0 22%;
}

.goalRight {
    max-width: 78%;
    flex: 0 0 78%;
}

.owl-stage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.badgeTab,
.skillTab {
    width: auto;
    height: 3.77rem;
    padding: 0.45rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #CBD8DB;
    border-radius: 31px 5px 5px 31px;
    box-shadow: 1px 1px 0px #0000001A;
    border: 1px solid #CBD8DB;
    margin-right: 1.563rem;
}

.skillTab {
    margin-right: 0.95rem;
}

.badgeTab.fullRound,
.skillTab.fullRound {
    border-radius: 31px;
}

.badgeTab div:last-child,
.skillTab div:last-child {
    white-space: nowrap;
    padding-right: 1.2rem;
    line-height: 1.1;
}

.skillTab div:last-child {
    padding-right: 0.8rem;
}

.checked-progress {
    width: 2.938rem;
    height: 2.93rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.95rem;
    font-size: 0.875rem;
    color: #8A7A00;
    background: #FFE30D;
    margin-right: 0.5rem;
}

.owl-nav {
    position: relative;
}

button.owl-prev,
.owl-dot {
    display: none !important;
}

#owl-two button.owl-next {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: -0.85rem;
    bottom: 1.35rem;
    text-align: center;
    border-radius: 1.25rem;
    border: 3px solid #333333;
    background-color: #E8FCFF;
    box-shadow: 0px 0px 5px #00000033;
    margin: 0;
    cursor: pointer;
}

.owl-next span {
    font-size: 2.45rem;
    line-height: 0.45;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
#owl-two .owl-nav [class*=owl-]:hover {
    color: #333;
}

.coveredSection,
.pcAssisgnSection,
.readyClassSection,
.attendSection {
    padding: 3.75rem 0;
}

.coveredSection p,
.readyClassSection p {
    margin: 0;
    color: #5A5959;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.85;
    max-width: 63.438rem;
    font-family: 'Montserrat', sans-serif;
}

.card-carousel {
    margin-top: 3.2rem;
}

.card-carousel .card {
    min-width: 21.875rem;
    overflow: hidden;
    margin-right: 1.875rem;
    margin-bottom: 0.5rem;
    border-radius: 0.625rem;
    border-bottom-left-radius: 0.45rem;
    box-shadow: 2px 2px 1px #0000001A;
    border: 0px solid #0000001A;
}

.card-img-top {
    height: 14rem;
    object-fit: cover;
    width: 100%;
}

.card-carousel .card-body {
    padding: 1.35rem 1.32rem 1.55rem 1.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-text {
    color: #474747;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.35;
    max-width: 14rem;
    font-family: 'Montserrat', sans-serif;
}

.moreNext img {
    max-width: 1.5rem;
}

.readyClassSection p {
    margin-top: -0.35rem;
    margin-bottom: 0.5rem;
}

.step-carousel .owl-stage {
    margin: 0.75rem -0.88rem 0;
    max-width: unset;
    width: auto !important;
}

.step-carousel .owl-stage>div {
    margin: 0 0.88rem;
}

.step-carousel.item {
    height: 100%;
}

.step-carousel .card {
    border: 0;
    max-width: 16rem;
    height: 98.5%;
    max-height: 18rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 5px;
    padding: 2.375rem 0.65rem 0.5rem;
    padding-left: 1.2rem;
    margin-bottom: 0.5rem;
    background-color: #F6FEFF;
    box-shadow: 3px 3px 0px #0000001A;
    font-family: 'Montserrat', sans-serif;
}

.stepNo {
    color: #EE3F5A;
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 1;
    margin: 1.12rem 0 1.32rem;
}

.cardSubTitle {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.15rem;
    text-transform: uppercase;
}

.step-carousel .card p {
    font-weight: 300;
    line-height: 1.65;
    text-align: center;
    font-size: 0.87rem;
}

.mobileImageSection {
    padding: 4.5rem 0;
}

.mobileImageSection .sectionHeading::before {
    content: "";
    height: 1px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -2.25rem;
    box-shadow: 0px 1px 1px #0000001A;
}

.mobileImageSection .sectionHeading {
    margin-bottom: 1.4rem;
}

.belowMobileSection {
    max-width: 100%;
    height: 36.7rem;
    background-image: url(../images/bgImage.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
}

.belowMobileSection::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.girlInMobile {
    min-width: 19.65rem;
    height: 39.65rem;
    margin-top: -5rem;
    margin: 0 auto;
    border-radius: 1.875rem;
    border: 0.625rem solid #000;
    background-image: url(../images/girl.png);
    background-position: 31% 100%;
    box-shadow: 5px 5px 0px #00000029;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: translateX(-50%);
}

.overMobile {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.realTv .text span {
    display: block;
    line-height: 1;
    font-weight: 700;
    color: #FF3A58;
    font-size: 1.25rem;
    text-shadow: 0px 0px 5px #FFFFFFBF;
}

.realTv .text span b {
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 5px #FFFFFFBF;
}

.realTv .text img {
    max-width: 1.5rem;
    margin-right: -0.25rem;
}

.forwardBtn {
    border: 0;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    position: absolute;
    right: -2rem;
    bottom: 4.5rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #F6F6F6;
    box-shadow: 0px 0px 5px #00000029;
}

.forwardBtn span {
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: rotate(135deg);
    border-top: 2px solid #707070;
    border-left: 2px solid #707070;
    margin-left: -0.3rem;
    margin-top: 0.1rem;
}

.forwardBtn:hover,
.forwardBtn:focus {
    background: #FF3A58;
}

.forwardBtn:hover span,
.forwardBtn:focus span {
    border-color: #fff;
    border-width: 3px;
}

.footer {
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 1.8rem;
    background-color: #635D5D;
    font-family: 'Montserrat', sans-serif;
}

.bookCTA.footer-center {
    margin-top: 0;
}

.footer-center .ctaBtn {
    max-width: 10rem;
    font-size: 0.875rem;
    margin: 0 auto 2.5rem;
}

.footerMenuMobile {
    display: none;
}

.copyRight {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0 0.55rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #5A5555;
    font-family: 'Montserrat', sans-serif;
}

.copyRight span {
    line-height: 1.5;
}

.footerMenuDesktop ul {
    display: block;
    margin: -0.5rem 0;
}

.footerMenuDesktop ul>li {
    display: block;
    padding: 0.5rem 0;
}

.logoFooterDskt b,
.logoInFooter b {
    display: block;
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.5;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.logoFooterDskt span,
.logoInFooter span {
    display: block;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

ul.footer-column1>li>a {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

ul.footer-column1>li>a>span:first-child {
    width: 2.25rem;
    margin-top: 0.2rem;
    color: #ffffff;
    font-size: 1.4rem;
}

ul.footer-column1>li>a>span:last-child {
    font-weight: 400;
    line-height: 2;
    font-size: 0.875rem;
    color: #ffffff;
}

ul.footer-column1 a:hover,
ul.footer-column1 a:active,
ul.otherLinks a:hover,
ul.otherLinks a:active,
.sociaLinks>li>a:hover,
.sociaLinks>li>a:active {
    opacity: 0.85;
    transition: all 0.5s ease-in-out;
}

.borderIcon i {
    border: 0.5px solid #fff;
    padding: 3px;
}

ul.footer-column1>li>a>span.borderIcon {
    font-size: 0.88rem;
}

ul.footer-column1 img {
    max-width: 1.85rem;
    margin-left: -0.25rem;
}

ul.otherLinks {
    margin-top: 0rem;
}

ul.otherLinks>li>a {
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.875rem;
    color: #ffffff;
}

ul.otherLinks>li:first-child {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.6;
}

ul.otherLinks>li:first-child a {
    text-transform: none;
    font-weight: 400;
}

ul.sociaLinks {
    color: #707070;
    display: block;
    align-items: center;
    margin: 0 -1.25rem 3rem;
}

ul.sociaLinks>li {
    padding: 0 1.25rem;
    display: inline-block;
}

.sociaLinks>li>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background: #fff;
    color: #635D5D;
}

.sociaLinks>li>a>i {
    font-size: 1.2rem;
    line-height: 1;
}

ul.appBtns {
    display: block;
    margin: 0 -1rem;
}

ul.appBtns>li {
    width: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 1rem;
}

.appBtns button {
    height: 2.813rem;
    border: 0;
    line-height: 1;
    padding: 0 0.55rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #000000;
}

.appBtns button.appstore {
    border-radius: 0.6rem;
}

.imgCover {
    text-align: left;
    width: 1.88rem;
}

.imgCover img {
    max-width: 1.5rem;
}

.imgCover i {
    font-size: 1.8rem;
    color: #ffffff;
}

.appBtns .text span {
    text-align: left;
    display: block;
}

.appBtns .text span:first-child {
    font-weight: 300;
    font-size: 0.6rem;
    line-height: 1.3;
}

.appBtns .text span:last-child {
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.12rem;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 0.313rem 0.88rem;
    background: #E5ECEE;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #CBD8DB;
}

.freeConsult {
    display: none;
}


/* ------------------------------ */

/* Media Queries */

@media (max-width: 1199px) {
    .navbar-brand img {
        max-width: 13.2rem;
    }
    ul.navbar-nav {
        margin: 0 -1.5rem;
    }
    ul.navbar-nav>li {
        padding: 0 1.35rem;
    }
    .bannerLeft h1 {
        font-size: 1.88rem;
        min-width: unset;
        padding-right: 2.5rem;
    }
    .palaceImage {
        height: 20.5rem;
    }
    .subTitle span {
        font-size: 1rem;
    }
    .subTitle span:first-child {
        margin-right: 1rem;
    }
    .logoText {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
    .banner {
        padding: 5.2rem 0 4.5rem;
    }
    .recommendBox {
        width: 9rem;
        margin-top: -0.15rem;
    }
    .recommendBox strong {
        font-size: 1.08rem;
    }
    .recommendBox span {
        font-size: 0.61rem;
    }
    .watchBtn {
        width: 12rem;
        height: 3rem;
    }
    .watchBtn span:last-child {
        font-size: 0.92rem;
    }
    .watchBtn svg {
        max-width: 0.92rem;
    }
    .detailCover .title {
        font-size: 0.8rem;
        margin-bottom: 0.38rem;
        padding-top: 1.5rem;
    }
    .liveDevices .description {
        font-size: 1.35rem;
    }
    .slotUl input[type=radio]+button {
        width: 6rem;
        height: 2.12rem;
        line-height: 2.12rem;
        font-size: 0.82rem;
    }
    .slotUl input[type="radio"] {
        width: 6rem;
        height: 2.12rem;
    }
    .slotUl p {
        font-size: 0.72rem;
    }
    .slotUl {
        margin: 0.2rem -0.5rem 0;
    }
    .slotUl li {
        padding: 0 0.5rem;
    }
    .feeBtn {
        width: 9.5rem;
        height: 2.68rem;
        line-height: 2.68rem;
        margin-right: 1.5rem;
    }
    span.strikeThrough {
        font-size: 0.82rem;
        line-height: 1.2;
    }
    .feeBtn span:last-child {
        font-size: 1.08rem;
    }
    .btnAnchor a {
        font-size: 0.875rem;
    }
    .bookCTA button {
        height: 2.65rem;
    }
    .ctaBtn {
        font-size: 0.95rem;
        margin-right: 1.65rem;
    }
    .sectionHeading {
        margin-bottom: 1.6rem;
        font-size: 1.45rem;
    }
    .sectionHeading::before {
        width: 1.8rem;
        height: 0.3rem;
        top: -1.5rem;
    }
    .goalsBadgesSection .badge {
        width: 5rem;
        height: 1.5rem;
        font-size: 0.95rem;
        margin-bottom: 0.8rem;
        letter-spacing: 0.4px;
    }
    .goalsTab {
        padding: 0.38rem;
        max-width: 11.5rem;
        height: 3.55rem;
    }
    .goalsTab .tabText {
        font-size: 0.95rem;
        padding-left: 0.95rem;
    }
    .progress .progress-value {
        font-size: 0.8rem;
    }
    .badgeTab,
    .skillTab {
        height: 3.55rem;
        padding: 0.35rem;
    }
    button.owl-next {
        display: none !important;
    }
    .owl-dot {
        display: inline-block !important;
    }
    .owl-nav {
        margin-top: 1.2rem !important;
    }
    #owl-two button.owl-next {
        display: none !important;
    }
    ul.footer-column1>li>a>span:last-child,
    ul.otherLinks>li>a {
        font-size: 0.8rem;
    }
    ul.appBtns {
        margin: 0 -0.35rem;
    }
    ul.appBtns>li {
        padding: 0 0.35rem;
    }
    .appBtns .text span:first-child {
        font-size: 0.54rem;
    }
    .appBtns .text span:last-child {
        font-size: 1rem;
    }
    .copyRight {
        padding: 0.8rem 0 0.55rem;
        font-size: 0.8rem;
        padding-top: 0.7rem;
    }
}

@media (max-width: 991px) {
    nav.navbar {
        height: 4rem;
        padding: 0.5rem 1rem;
    }
    .navbar-brand img,
    .navbarOnScroll .navbar-brand img {
        max-width: 10.75rem;
    }
    ul.navbar-nav {
        margin: 0 -0.55rem;
    }
    ul.navbar-nav>li {
        padding: 0 0.55rem;
    }
    ul.navbar-nav>li>a.nav-link {
        font-size: 0.8rem;
    }
    ul.navbar-nav>li:last-child>a {
        min-width: 7.5rem;
    }
    .userImage {
        width: 2.2rem;
        height: 2.2rem;
    }
    .userImage i {
        line-height: 3rem;
        font-size: 1.6rem;
    }
    ul.navbar-nav>li:last-child a span {
        padding-left: 0.25rem;
        font-size: 0.95rem;
    }
    .banner {
        padding-top: 3.8rem;
    }
    .bannerSections {
        flex-flow: column wrap;
        justify-content: flex-start;
    }
    .subTitle {
        margin: 0 0 1.2rem;
    }
    .bannerLeft h1 {
        padding-right: 0;
        margin-bottom: 0.75rem;
    }
    .recommendBox {
        display: none;
    }
    .liveDevices {
        margin-top: 0;
    }
    .palaceImage {
        max-width: unset;
        height: 21.8rem;
    }
    .liveDevices .description {
        font-size: 1.5rem;
    }
    .detailCover .title {
        font-size: 0.85rem;
        margin-bottom: 0.48rem;
        padding-top: 1.2rem;
    }
    .sectionHeading {
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
    }
    .goalsBadgesSection {
        padding: 3.35rem 0;
    }
    .goalRow {
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .goalsTab {
        min-width: 11rem;
    }
    .goalLeft,
    .goalRight {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .goalRight,
    .skillRow {
        margin-top: 2.35rem;
    }
    .coveredSection,
    .pcAssisgnSection,
    .readyClassSection,
    .attendSection {
        padding: 3rem 0;
    }
    .coveredSection p,
    .readyClassSection p {
        font-size: 0.925rem;
    }
    .card-carousel .card {
        min-width: unset;
    }
    .card-img-top {
        height: 12rem;
    }
    .card-text {
        font-size: 1.4rem;
        max-width: 13rem;
    }
    .moreNext img {
        max-width: 1.35rem;
    }
    .readyClassSection p {
        margin: 0;
    }
    .step-carousel .owl-item {
        min-width: 15.88rem;
    }
    .mobileImageSection {
        padding: 3.5rem 0;
    }
    .mobileImageSection .sectionHeading {
        margin-bottom: 1rem;
    }
    .belowMd {
        margin-top: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    ul.sociaLinks {
        margin: 0 -1.25rem;
    }
    .navbar.navbarOnScroll {
        height: 4rem;
    }
    .card-carousel {
        margin-top: 2.2rem;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md>.container {
        padding-right: 15px;
        padding-left: 15px;
    }
    a.inrLink {
        display: inline-flex;
        margin-right: 1.15rem;
    }
    nav.navbar,
    .navbar.navbarOnScroll {
        height: auto;
    }
    ul.navbar-nav {
        margin: 0;
        padding-top: 0.8rem;
        align-items: flex-start;
    }
    ul.navbar-nav>li {
        padding: 0.8rem 0;
    }
    ul.navbar-nav>li:last-child,
    .breadcrumb {
        display: none;
    }
    .navbar-brand {
        width: 50%
    }
    .navbar-brand img {
        width: 100%;
    }
    .banner {
        padding: 4rem 0 3.5rem;
    }
    .shareBtn {
        padding: 0 0.85rem;
    }
    .shareBtn span {
        display: none;
    }
    .shareBtn i {
        display: inline-block;
        font-size: 1.4rem;
    }
    .footerMenuDesktop {
        display: none;
    }
    .copyRight {
        font-size: 0.875rem;
    }
    .bannerLeft {
        display: flex;
        flex-flow: column wrap;
    }
    .subTitle {
        order: 1;
        margin: 0.3rem 0 0.5rem;
    }
    .bannerLeft h1 {
        order: 2;
        font-size: 1.58rem;
    }
    .palaceImage {
        order: 3;
    }
    .subTitle span {
        font-size: 0.82rem;
    }
    .sectionHeading {
        margin-bottom: 1rem;
        font-size: 1.22rem;
        line-height: 1.6;
    }
    .sectionHeading::before {
        top: -1.2rem;
    }
    .goalsBadgesSection {
        padding: 3rem 0;
    }
    .goalRight,
    .skillRow {
        margin-top: 1.25rem;
    }
    .goalLeft {
        padding-bottom: 1.5rem;
    }
    .coveredSection,
    .pcAssisgnSection,
    .readyClassSection,
    .attendSection {
        padding: 2.2rem 0;
    }
    .coveredSection p,
    .readyClassSection p {
        font-size: 0.9rem;
    }
    .card-img-top {
        height: 10rem;
        min-width: 14rem;
    }
    .card-carousel {
        margin-top: 1.8rem;
    }
    .belowMobileSection {
        height: 32rem;
    }
    .girlInMobile {
        min-width: 19rem;
        height: 35rem;
        border-radius: 1.5rem;
        border-width: 0.5rem;
    }
    .overMobile {
        padding: 0.8rem;
    }
    .realTv .text span {
        font-size: 1.12rem;
    }
    .realTv .text img {
        max-width: 1.1rem;
    }
    .footer {
        padding-bottom: 0;
    }
    .copyRight {
        border-top: 2px solid #848181;
    }
    .footerMenuMobile {
        display: block;
    }
    .footerMenuMobile ul {
        margin: 0;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .footerMenuMobile ul>li {
        width: 100%;
        line-height: 1;
        padding: 1.5rem 0;
        position: relative;
    }
    .footerMenuMobile ul>li::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid #848181;
    }
    .footerMenuMobile ul>li:last-child::after {
        position: static;
    }
    .footerMenuMobile ul>li a {
        line-height: 1;
        color: #ffffff;
        font-size: 0.875rem;
    }
    .download {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .download a {
        margin-left: 3rem;
    }
    .download a i {
        font-size: 1.5rem;
    }
    .freeConsult {
        display: block;
        padding-top: 1rem;
        text-align: left;
        font-weight: 500;
        font-size: .938rem;
        color: #3C3C3C;
    }
    .freeConsult a {
        color: #FF3A58;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

@media (max-width: 575px) {
    .navbar-expand-md>.container {
        padding: 0;
    }
    .banner {
        padding-bottom: 1.8rem;
    }
    .bannerLeft h1 {
        font-size: 1.4rem;
    }
    .palaceImage {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }
    .navbar.navbarOnScroll,
    nav.navbar {
        padding: 0.5rem 0.938rem;
    }
    .mobileImageSection {
        padding: 3.2rem 0 2.5rem;
    }
    .belowMobileSection {
        background: none;
    }
    .footer-center .ctaBtn {
        max-width: unset;
        margin: 2.5rem auto 1.5rem;
    }
    .girlInMobile {
        min-width: 18rem;
        height: 37.8rem;
    }
    .card-img-top {
        height: 11.5rem;
        min-width: 17.5rem;
    }
    .card-carousel .card {
        margin-right: 0.25rem;
    }
    .liveDevices {
        margin-top: 0.5rem;
    }
    .detailCover .title {
        padding-top: 1rem;
    }
    .goalsTab {
        min-width: 15rem;
    }
}

@media (max-width: 415px) {
    .sectionHeading {
        font-size: 0.875rem;
        margin-bottom: 1.8rem;
    }
    .card-carousel {
        margin-top: 2.5rem;
    }
    .forwardBtn {
        border: 0;
        width: 2.188rem;
        height: 2.188rem;
        right: -1.65rem;
    }
    .forwardBtn span {
        width: 10px;
        height: 10px;
    }
    .belowMobileSection {
        height: 26rem;
    }
    .girlInMobile {
        background-size: 48rem;
        min-width: 15.8rem;
        height: 31.8rem;
    }
    .copyRight {
        font-size: 0.75rem;
    }
    .download a {
        margin-left: 2rem;
    }
    .footerMenuMobile ul>li::after {
        width: auto;
        left: -15px;
        right: -15px;
    }
    .liveDevices .description,
    .liveDevices .description b {
        font-size: 0.875rem;
        font-weight: 500;
    }
    .slotUl input[type=radio]+button {
        width: 5.5rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.8rem;
    }
    .slotUl input[type="radio"] {
        width: 5.5rem;
        height: 2rem;
    }
    .logoText {
        font-size: 0.95rem;
        padding: 0.65rem;
    }
    .bookCTA {
        margin-top: 1.3rem;
    }
    .bookCTA button {
        height: 2.5rem;
    }
    .shareBtn {
        padding: 0 0.75rem;
    }
    .shareBtn i {
        font-size: 1.2rem;
    }
    .ctaBtn {
        font-size: 0.9rem;
        margin-right: 0.75rem;
    }
    .freeConsult {
        padding-top: 0.75rem;
        text-align: center;
        font-size: .875rem;
    }
    .detailCover .title {
        font-size: 0.625rem;
    }
    .slotUl p {
        font-size: 0.563rem;
    }
    .liveDevices {
        justify-content: flex-start;
    }
    .liveDevices>div:first-child {
        margin-right: 2.125rem;
    }
    .feeBtn {
        width: 10rem;
        height: 2.5rem;
    }
    .btnAnchor a {
        font-size: 0.75rem;
    }
    .goalRow {
        padding-top: 0;
    }
    .slotUl {
        margin: 0.2rem -0.4rem 0;
    }
    .slotUl li {
        padding: 0 0.4rem;
    }
    .step-carousel .owl-stage>div {
        margin: 0 0.28rem;
    }
    .step-carousel .owl-stage {
        margin: 0.75rem -0.28rem 0;
    }
    .footer-center .ctaBtn {
        margin: 2.2rem auto 1.2rem;
    }
    .footerMenuMobile ul>li {
        padding: 1.2rem 0;
    }
    .download a i {
        font-size: 1.2rem;
    }
    .download a {
        margin-left: 1.65rem;
    }
    .footerMenuMobile ul>li a,
    .download>div {
        font-size: 0.875rem;
    }
    .subTitle {
        margin: 0rem 0 0.4rem;
    }
    .subTitle span {
        font-size: 0.625rem;
        font-weight: 600;
    }
    .bannerLeft h1 {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .watchBtn {
        width: 7.375rem;
        height: 1.813rem;
        padding: 0 0.5rem;
    }
    .watchBtn svg {
        max-width: 0.6rem;
        margin-right: 0.3rem;
        height: 0.55rem;
    }
    .watchBtn span:last-child {
        font-size: 0.58rem;
    }
    .logoInFooter b {
        font-size: 1.36rem;
    }
    .logoInFooter span {
        font-size: 0.625rem;
    }
    .footerMenuMobile ul {
        margin-top: 1.5rem;
    }
    .overMobile {
        padding: 0.6rem;
    }
    .realTv .text span {
        font-size: 1rem;
    }
    .realTv .text img {
        max-width: 1rem;
    }
    .coveredSection,
    .pcAssisgnSection,
    .readyClassSection,
    .attendSection {
        padding: 2.65rem 0;
    }
    .mobileImageSection {
        padding-top: 4.35rem;
    }
}ˀ